# dependancies
dist
/dist
node_modules/
/node_modules
# frontend/images/*.jpg
# */images/*
# images/*
uploads/*.jpg
uploads/*.png

# production
/build

# misc
.DS_Store
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
frontend/node_modules/**
frontend/build/**
frontend/main.js
frontend/package-lock.json
package-lock.json
