# dependancies
dist
/dist
node_modules/
frontend/images/*.jpg
*/images/*
images/*
uploads/*.jpg
uploads/*.png

# production

# misc
.env
.DS_Store
.vscode

npm-debug.log*
frontend/node_modules/**
frontend/build/**
frontend/main.js
frontend/package-lock.json
package-lock.json
