@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  font: 1.6rem Verdana, Helvetica, Arial;
  margin: 0; }

a {
  text-decoration: none; }

.success {
  color: #40c040; }

.error {
  color: #ff0000; }

.brand {
  font-family: 'Audiowide', cursive; }
  .brand a {
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 1rem; }
  .brand .logo-brand {
    border-bottom: none; }

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%; }

header {
  grid-area: header;
  background-color: #cb945d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem; }

header a {
  margin: 1rem;
  text-decoration: none;
  padding-right: 0.5rem;
  color: #252525; }

header a:hover {
  color: #dfdfdf; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  color: #dfdfdf;
  text-decoration: none;
  font-family: 'Audiowide', cursive; }

footer a {
  font-size: 1.8rem;
  padding-left: 3px;
  color: #acacac;
  text-decoration: none; }

.overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5); }

.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dfdfdf; }

.overlay > div {
  background-color: #dfdfdf;
  color: #3e3e3e;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40rem; }

.overlay > div > * {
  margin: 2rem; }

.fw {
  width: 100%; }

button {
  cursor: pointer; }

input,
button {
  font: 1.6rem Helvetica;
  padding: 1rem;
  border: 0.5px solid #7e7e7e;
  border-radius: 5px; }

input:hover,
button:hover {
  border: 1px solid #3e3e3e; }

button.primary {
  background-color: #ffad45; }
  button.primary:hover {
    background-color: #ffa22c; }

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .products li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4rem; }
  .product > div {
    padding-top: 0.5rem; }
  .product img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 1.5rem; }

.product-name {
  line-height: 2.2rem; }
  .product-name a {
    color: #3e3e3e; }
    .product-name a img {
      padding-top: 2rem; }

.product-name a:hover {
  color: #b97b3c; }

.product-brand {
  font-size: 1.2rem; }

.rating {
  color: #de7c00;
  font-size: 1.4rem; }
  .rating span:last-child {
    color: #3e3e3e;
    font-size: 1.4rem; }

.content {
  padding: 1rem; }
  .content .back-to-result * {
    color: #6c4823; }
  .content .back-to-result *:hover {
    color: #a66e35; }

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }
  .details-image {
    flex: 2 1 60rem; }
  .details-image img {
    margin-top: 1rem;
    max-width: 60rem;
    width: 100%; }
  .details-info, .details-action {
    margin-top: 1rem;
    display: flex;
    flex: 1 1 30rem; }
  .details-info ul,
  .details-action ul {
    padding: 0;
    list-style-type: none; }
  .details-info h1 {
    font-size: 2rem;
    margin: 0; }
  .details-info li,
  .details-action li {
    margin-bottom: 1rem; }
  .details-action {
    background-color: #f3f3f3;
    padding: 1rem;
    border-radius: 5px;
    border: 0.5px solid #3e3e3e; }

.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  .cart-list {
    flex: 3 1 60rem; }
  .cart-list-container {
    padding: 1rem;
    list-style-type: none; }
  .cart li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #bebebe; }
  .cart li:first-child {
    align-items: flex-end; }
  .cart img {
    max-width: 10rem;
    max-height: 10rem; }
  .cart-name {
    flex: 8 1; }
  .cart-name > div {
    padding: 1rem; }
  .cart-image {
    flex: 1 1; }
  .cart-price {
    flex: 1 1;
    text-align: right; }
  .cart-list h3 {
    margin: 0; }
  .cart-list button,
  .cart-list select {
    font-size: 1.3rem;
    padding: 0.5rem; }

.cart-action {
  flex: 1 1 20rem;
  border: 0.1rem solid #3e3e3e;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 3rem 1rem; }

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%; }
  .form-container .form-items {
    display: flex;
    flex-direction: column;
    width: 33rem;
    padding: 2rem;
    border: 0.1rem solid #bebebe;
    border-radius: 0.5rem;
    font-size: 1.55rem;
    list-style-type: none; }
    .form-container .form-items li {
      display: flex;
      flex-direction: column;
      margin: 1rem 0; }
  .form-container h1 {
    font-size: 2rem; }

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto; }
  .checkout-steps div {
    border-top: 0.3rem solid #dfdfdf;
    color: #dfdfdf;
    flex: 1 1;
    padding-top: 1rem; }
  .checkout-steps > div:first-child {
    padding-left: 1rem; }
  .checkout-steps > div.active {
    color: #ffad45;
    border-top-color: #ffad45; }
