@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  font: 1.6rem Verdana, Helvetica, Arial;
  margin: 0; }

a {
  text-decoration: none; }

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%; }

header {
  grid-area: header;
  border-bottom: 0.2rem solid #3e3e3e;
  background-color: #d7995c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem; }

header a {
  margin: 1rem;
  text-decoration: none;
  padding-right: 0.5rem;
  color: #3e3e3e; }

header a:hover {
  color: #dfdfdf; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  color: #dfdfdf;
  text-decoration: none;
  font-family: 'Audiowide', cursive; }

footer a {
  font-size: 1.8rem;
  padding-left: 3px;
  color: #acacac;
  text-decoration: none; }

.brand {
  font-family: 'Audiowide', cursive; }

.brand a {
  letter-spacing: 0.2rem;
  font-size: 2.6rem;
  font-weight: bold;
  padding-left: 1rem; }

.brand .logo-brand {
  border-bottom: none; }

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .products li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .product img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 1.5rem; }

.product-name {
  line-height: 2.2rem; }
  .product-name a {
    color: #3e3e3e; }

.product-name a:hover {
  color: #c05f00; }

.product-brand {
  font-size: 1.2rem; }
