// COLOR VARIABLES
$color-yellow-orange: #ffad45; 
$color-mine-shaft: #3e3e3e;
$color-gainsboro: #dfdfdf; 
$color-porshe: #cb945d;


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font: 1.6rem Verdana, Helvetica, Arial;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-mine-shaft;
}
a:hover {
  color: darken($color-porshe, 20%);
}

.success {
  color: #40c040;
}

.error {
  color: #ff0000;
}

.brand {
  font-family: 'Audiowide', cursive;
  & a {
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 1rem;
  }
  & .logo-brand {
    border-bottom: none;
  }
}

.dashboard {
  .summary-title.color1 { background-color: #ffca94; }
  .summary-title.color2 { background-color: #bdd1ea; }
  .summary-title.color3 { background-color: #b9e9be; }
}






