//==========  BUTTON  ==========//
button {
  cursor: pointer;
}

input,
button {
  font: 1.6rem Helvetica;
  padding: 1rem;
  border: 0.5px solid lighten($color-mine-shaft, 25%);
  border-radius: 5px;
}

input:hover,
button:hover {
  border: 1px solid $color-mine-shaft;
}

button.primary {
  background-color: $color-yellow-orange;
  &:hover {
    background-color: darken($color-yellow-orange, 5%);
  }
}

//==========  PRODUCTS ==========//
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4rem;
  > div {
    padding-top: 0.5rem;
  }
  img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 1.5rem;
  }
}

.product-name {
  line-height: 2.2rem;
  img {
    padding-top: 2rem;
  }
}

.product-brand {
  font-size: 1.2rem;
}

//==========  RATING  ==========//
.rating {
  color: darken($color-porshe, 15%);
  font-size: 1.4rem;
  span:last-child {
    color: $color-mine-shaft;
    font-size: 1.4rem;
  }
}

.content {
  padding: 1rem;
  .back-to-result * {
    color: darken($color-porshe, 30%);
  }
  .back-to-result *:hover {
    color: darken($color-porshe, 15%);
  }
}

//==========  PRODUCT DETAILS  ==========//
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  &-image {
    flex: 2 1 60rem;
  }
  &-image img {
    margin-top: 1rem;
    max-width: 60rem;
    width: 100%;
  }

  &-info,
  &-action {
    margin-top: 1rem;
    display: flex;
    flex: 1 1 30rem;
  }
  &-info ul,
  &-action ul {
    padding: 0;
    list-style-type: none;
  }
  &-info h1 {
    font-size: 2rem;
    margin: 0;
  }
  &-info li,
  &-action li {
    margin-bottom: 1rem;
  }

  &-action {
    background-color: lighten($color-gainsboro, 8%);
    padding: 1rem;
    border-radius: 5px;
    border: 0.5px solid $color-mine-shaft;
  }
}

//==========  CART  ==========//
.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  &-list {
    flex: 3 1 60rem;
  }
  &-list-container {
    padding: 1rem;
    list-style-type: none;
    & li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $color-gainsboro;
    }
    & li:first-child {
      align-items: flex-end;
    }
    & img {
      max-width: 10rem;
      max-height: 10rem;
    }
  }

  &-name {
    flex: 8 1;
  }
  &-name > div {
    padding: 1rem;
  }
  &-image {
    flex: 1 1;
  }
  &-price {
    flex: 1 1;
    text-align: right;
  }
  &-list h3 {
    margin: 0;
  }
  &-list button,
  &-list select {
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}

.cart-action {
  flex: 1 1 20rem;
  border: 0.1rem solid $color-mine-shaft;
  background-color: lighten($color-gainsboro, 8%);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 3rem 1rem;
}

//==========  FORM  ==========//
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  .form-items {
    display: flex;
    flex-direction: column;
    width: 33rem;
    padding: 2rem;
    border: 0.1rem solid lighten($color-mine-shaft, 50%);
    border-radius: 0.5rem;
    font-size: 1.55rem;
    list-style-type: none;
    & li {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }
  }

  h1 {
    font-size: 2rem;
  }
}

//==========  CHECKOUT  ==========//
.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
  & div {
    border-top: 0.3rem solid $color-gainsboro;
    color: $color-gainsboro;
    flex: 1 1;
    padding-top: 1rem;
  }
  & > div:first-child {
    padding-left: 1rem;
  }
  & > div.active {
    color: darken($color-porshe, 20%);
    border-top-color: darken($color-porshe, 20%);
  }
}

//==========  ORDER  ==========//
.order {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .card-list-contairer {
    padding: 0;
  }
  &-info {
    flex: 3 1 60rem;
    & > div {
      border: 0.1rem solid $color-gainsboro;
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem;
    }
    & > div > div {
      padding: 1rem;
    }
  }
  &-action {
    flex: 1 1 20rem;
    border: 0.1rem solid $color-gainsboro;
    border-radius: 0.5rem;
    background-color: lighten($color-gainsboro, 8%);
    padding: 1rem;
    margin: 1rem;
    & ul {
      padding: 0;
      list-style-type: none;
    }
    & li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .total {
      font-size: 1.6rem;
      font-weight: bold;
      color: darken($color-porshe, 20%);
    }
  }
}

//==========  PROFILE  ==========//
.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  &-info {
    flex: 1 1 20rem;
  }
  &-orders {
    flex: 3 1 60rem;
    margin-left: 1rem;
  }
  table {
    width: 100%;
  }
  th {
    text-align: left;
  }
}

tbody > tr:nth-child(odd) {
  background-color: lighten($color-gainsboro, 4%);
}

tbody > tr:nth-child(even) {
  background-color: lighten($color-gainsboro, 8%);
}

td {
  padding: 0.5rem;
}

//==========  DASHBOARD  ==========//
.dashboard {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  & h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
  &-menu {
    flex: 1 1 20rem;
    background-color: lighten($color-gainsboro, 8%);
    ul {
      padding: 0;
    }
    a {
      display: flex;
      padding: 1rem;
      padding-left: 2rem;
      justify-content: space-between;
    }
    a:hover {
      background-color: $color-gainsboro;
    }
  }

  &-menu li.selected a {
    background-color: $color-gainsboro;
    color: darken($color-porshe, 20%);
  }

  &-content {
    flex: 4 1 80rem;
    padding: 1rem;
  }

  .product-list button {
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  .tr-action {
    width: 10rem;
  }
}
