//==========  BRAND  ==========//
.brand {
  font-family: 'Audiowide', cursive;
  & a {
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 1rem;
  }
  & .logo-brand {
    border-bottom: none;
  }
}

//==========  BUTTON  ==========//
button {
  font: 1.6rem Helvetica;
  padding: 1rem;
  border: 0.5px solid lighten($color-mine-shaft, 25%);
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    border: 1px solid $color-mine-shaft;
  }
}

button.primary {
  background-color: $color-yellow-orange;
  &:hover { 
    background-color: darken($color-yellow-orange, 5%);
  } 
}

//==========  PRODUCTS ==========//
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4rem;
  > div {
    padding-top: 0.5rem;
  }
  img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 1.5rem;
  }
}

.product-name {
  line-height: 2.2rem;
  a {
    color: $color-mine-shaft;
    img {
      padding-top: 2rem;
    }
  }
}

.product-name a:hover {
  color: darken($color-porshe, 10%);
}

.product-brand {
  font-size: 1.2rem;
}

//==========  RATING  ==========//
.rating {
  color: darken($color-porshe, 15%);
  font-size: 1.4rem;
  span:last-child {
    color: $color-mine-shaft;
    font-size: 1.4rem;
  }
}

.content {
  padding: 1rem;
}

//==========  PRODUCT DETAILS  ==========//
.back-to-result:hover {
  color: darken($color-porshe, 10%);
}

.back-to-result *:hover {
  color: darken($color-porshe, 10%);
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  &-image {
    flex: 2 1 60rem;
  }
  &-image img {
    margin-top: 1rem;
    max-width: 60rem;
    width: 100%;
  }

  &-info,
  &-action {
    margin-top: 1rem;
    display: flex;
    flex: 1 1 30rem;
  }
  &-info ul,
  &-action ul {
    padding: 0;
    list-style-type: none;
  }
  &-info h1 {
    font-size: 2rem;
    margin: 0;
  }
  &-info li,
  &-action li {
    margin-bottom: 1rem;
  }

  &-action {
    background-color: lighten($color-gainsboro, 10%);
    padding: 1rem;
    border-radius: 5px;
    border: 0.5px solid $color-mine-shaft;
  }
}
