//==========  BRAND  ==========//
.brand {
  font-family: 'Audiowide', cursive;
}

.brand a {
  letter-spacing: 0.2rem;
  font-size: 2.4rem;
  font-weight: bold;
  padding-left: 1rem;
}

.brand .logo-brand {
  border-bottom: none;
}
//==========  SEARCH  ==========//
//==========  PRODUCTS ==========//
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4rem;
  > div {
    padding-top: .5rem;
  }
  img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 1.5rem;
  }
}

.product-name {
  line-height: 2.2rem;
  a {
    color: $color-mine-shaft;
    img {
      padding-top: 2rem;
    }
  }
}

.product-name a:hover {
  color: #c05f00;
}

.product-brand {
  font-size: 1.2rem;
}