.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: $color-porshe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  margin: .5rem;
  text-decoration: none;
  color: darken($color-mine-shaft, 10%);
}

header a:hover {
  color: $color-gainsboro;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-mine-shaft;
  color: $color-gainsboro;
  text-decoration: none;
  font-family: 'Audiowide', cursive;
}

footer a {
  font-size: 1.8rem;
  padding-left: .5rem;
  color: darken($color-gainsboro, 20%);
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}

.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-gainsboro;
}

.overlay > div {
  background-color: $color-gainsboro;
  color: $color-mine-shaft;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40rem;
}

.overlay > div > * {
  margin: 2rem;
}

.fw {
  width: 100%;
}

/* Media Query */
@media (min-width: 1920px) {
  #main-container { width: 65%; margin: 0 auto; }
}
@media (min-width: 920px) and (max-width: 1220px) {
  .details-info, .details-action { flex: 0 1 30rem; }
}
@media (max-width: 640px){ 
  .products li { border-top: 0.15rem solid $color-gainsboro; }
  .products li:first-child { border: none; }
}